@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:600);
#marginlessTuna {
  margin: 0 !important;
  padding: 5px;
  max-height: 9vh;
}
.icon {
  margin-right: 5px;
}
.firstRow {
  height: 20px;
  line-height: 1.5;
  font-size: 14px;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  color: #212121;
  font-family: 'Josefin Sans', sans-serif;
}
.firstRowOdd {
  height: 20px;
  line-height: 1.5;
  font-size: 14px;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  color: #3a707f;
  font-family: 'Josefin Sans', sans-serif;
}
.secondRow {
  height: 20px;
  line-height: 1.5;
  font-size: 14px;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  color: #424242;
  background-color: #E0FFF9;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
.secondRowOdd {
  height: 20px;
  line-height: 1.5;
  font-size: 14px;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  background-color: #F7F3F3;
  color: #263238;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
.commonInput {
  padding: 5px;
}
.searchImageKeyword {
  background-color: #FFF3E0;
}
.searchImageKeyword,
.deWordInput,
.enWordInput {
  padding: 5px;
}
.searchImageKeyword:focus,
.deWordInput:focus,
.enWordInput:focus {
  background-color: #CFD8DC;
}
.deWordInput {
  background-color: #E1F5FE;
}
.enWordInput {
  background-color: #FBE9E7;
}
.wrongAnswerLearningMeme {
  animation: wrongLearningMeme 1s;
}
.correctAnswerLearningMeme {
  animation: correctLearningMeme 1s;
}
@keyframes correctLearningMeme {
  0% {
    background-color: #689F38;
    outline: 3px solid #A5D6A7;
  }
  33% {
    background-color: #A5D6A7;
    outline: 3px solid #689F38;
  }
  66% {
    background-color: #689F38;
    outline: 3px solid #A5D6A7;
  }
  99% {
    background-color: #A5D6A7;
    outline: 3px solid #689F38;
  }
}
@keyframes wrongLearningMeme {
  0% {
    background-color: #E57373;
    outline: 3px solid #EC407A;
  }
  33% {
    background-color: #EC407A;
    outline: 3px solid #E57373;
  }
  66% {
    background-color: #E57373;
    outline: 3px solid #EC407A;
  }
  99% {
    background-color: #EC407A;
    outline: 3px solid #E57373;
  }
}
.inputField,
.inputField:focus {
  text-align: center;
  font-weight: bold;
  outline: none;
  padding: 7px;
  opacity: 0.5;
  border-radius: 5%;
  border: 1px solid #B0BEC5;
  background: linear-gradient(#B0BEC5, #ffffff 70%, #B0BEC5);
}
.borderBottom {
  border-style: solid;
  border-bottom: 5px solid #FF4081;
}
.unselectedImage {
  border: solid 1px #4DB6AC;
  padding: 5px;
  background-color: #546E7A;
}
.selectedImage {
  padding: 5px;
  background-color: #FF4081;
}
.newEntryContainer {
  border: solid 1px #4DB6AC;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 500px;
  left: 50px;
  top: 50px;
  background-color: #546E7A;
}
.newEntry {
  margin-left: 20%;
  background-color: #546E7A;
  width: 50%;
}
.outline {
  border-radius: 25%;
  border: solid 1px #4DB6AC !important;
}
.Select-control {
  max-width: 170px !important;
}
.Select-value:hover {
  cursor: pointer;
}
.singleWord {
  border-radius: 40%;
  border: solid 2px #4DB6AC;
  border-style: double;
  padding: 2px;
  cursor: pointer;
}
.singleWordCorrect {
  border-radius: 40%;
  border: solid 2px #FF4081;
  border-style: double;
  padding: 2px;
  cursor: pointer;
}
.singleWordHalfWidth {
  border-radius: 40%;
  border: solid 2px #4DB6AC;
  border-style: double;
  width: 50%;
  margin-left: 25%;
  padding: 2px;
  cursor: pointer;
}
.buttonStyle {
  letter-spacing: 4px;
  text-transform: uppercase;
  border: solid 2px #4DB6AC;
  border-style: single;
}
.wrongAnswer {
  animation: pulse 1s;
  text-decoration-style: double;
  text-decoration: line-through #FF4081;
}
@keyframes pulse {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.05;
  }
  100% {
    opacity: 1;
  }
}
.memeContainer {
  width: 50%;
  height: 40%;
}
.meme {
  background-color: #CFD8DC;
  color: #546E7A;
}
.paddingLR {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.isHidden {
  visibility: hidden;
}
.isVisible {
  visibility: visible;
}
