@backgroundMeme: #ffffff;
@textColorMeme: #1A237E;
@morfAnimationDuration: 1s;
@atentionAnimationDuration: 0.5s;
@memeImageWidth: 50%;
@memeImageHeight: 40%;
@memeBackgroundColor: #CFD8DC;
@memeTextColor: #546E7A;
@mildRed: #FF4081;
@learningMemeBackground: #B0BEC5;
@correctFirst: #689F38;
@correctSecond: #A5D6A7;
@wrongFirst: #E57373;
@wrongSecond: #EC407A;
.searchImageKeyword{
    background-color: @correctSecond;
}
.searchImageKeyword:focus, .deWordInput:focus, enWordInput:focus{
    background-color: @memeBackgroundColor;
}
.deWordInput{
background-color: #E1F5FE;
}
.enWordInput{
background-color: #FBE9E7;
}
.wrongAnswerLearningMeme{
  animation: wrongLearningMeme 1s;
}
.correctAnswerLearningMeme{
  animation: correctLearningMeme 1s;
}
@keyframes correctLearningMeme {
     0% {background-color: @correctFirst;outline: 3px solid @correctSecond;}
     33% {background-color: @correctSecond;outline: 3px solid @correctFirst;}
     66% {background-color: @correctFirst;outline: 3px solid @correctSecond;}
     99% {background-color: @correctSecond;outline: 3px solid @correctFirst;}
}
@keyframes wrongLearningMeme {
     0% {background-color: @wrongFirst;outline: 3px solid @wrongSecond;}
     33% {background-color: @wrongSecond;outline: 3px solid @wrongFirst;}
     66% {background-color: @wrongFirst;outline: 3px solid @wrongSecond;}
     99% {background-color: @wrongSecond;outline: 3px solid @wrongFirst;}
}
.borderTemplate(){
    border:solid 1px #4DB6AC;
}
.inputField, .inputField:focus{
text-align: center;
font-weight:bold;
outline: none;
padding: 7px;
opacity: 0.5;
border-radius: 5%;
border: 1px solid @learningMemeBackground;
background: linear-gradient(@learningMemeBackground, @backgroundMeme 70%, @learningMemeBackground);
}
.borderBottom{
    border-style: solid;
    border-bottom: 5px solid @mildRed;
}
.unselectedImage{
    .borderTemplate;
    padding: 5px;
    background-color: @memeTextColor;
}
.selectedImage{
    padding: 5px;
    background-color: @mildRed;
}
.newEntryContainer{
    .borderTemplate;
    position:        fixed;
    z-index:          100;
    width:           100%;
    height:          500px;
    left:            50px;
    top:             50px;
    background-color: @memeTextColor;
}
.newEntry{
    margin-left:20%;
    background-color: @memeTextColor;
    width: 50%;
}
.outline{
border-radius: 25%;
border:solid 1px #4DB6AC !important;
}
.Select-control {
  max-width: 170px !important;
}
.Select-value:hover {
  cursor: pointer;
}
.singleWord{
    border-radius: 40%;
    border:solid 2px #4DB6AC;
    border-style:double;
    padding:2px;
    cursor: pointer;
}
.singleWordCorrect{
    border-radius: 40%;
    border:solid 2px @mildRed;
    border-style:double;
    padding:2px;
    cursor: pointer;
}
.singleWordHalfWidth{
    border-radius: 40%;
    border:solid 2px #4DB6AC;
    border-style:double;
    width: 50%;
    margin-left: 25%;
    padding:2px;
    cursor: pointer;
}
.buttonStyle{
    letter-spacing: 4px;
    text-transform: uppercase;
    border:solid 2px #4DB6AC;
    border-style:single;
}
.wrongAnswer{
  animation: pulse 1s;
  text-decoration-style: double;
  text-decoration: line-through #FF4081;
}
@keyframes pulse {
    0% {opacity: 0.05;}
     50% {opacity: 0.7;}
     90% {opacity: 0.05;}
     100% {opacity: 1;}
}
.memeContainer{
  width: @memeImageWidth;
  height: @memeImageHeight;
}
.meme{
  background-color: @memeBackgroundColor;
  color: @memeTextColor;
}
.paddingLR{
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.isHidden{
  visibility: hidden;
}
.isVisible{
  visibility: visible;
}
