@import "mixins.less";
@import "common.less";
@import url(https://fonts.googleapis.com/css?family=Arvo:400&subset=latin);

@fontFamily: 'Arvo', serif;

.content{
    font-family: @fontFamily;
    margin-left: 2vw;
    margin-top: 1vw;
    margin-right: 2vw;
    padding: 0.5vw;
    width:46vw;
    border: 1px solid @darkblue;
    font-size: 1.7vh;
}
