{
    "presets": ["es2017", "es2015"],
    "env": {
        "development": {
        "plugins": [
                "transform-class-properties",
                "transform-decorators-legacy",
                "transform-function-bind",
                "transform-object-rest-spread",
                "transform-regenerator",
                ["transform-runtime", {"polyfill": false,"regenerator": true}],
                "transform-async-to-generator",
                "transform-do-expressions"
            ]
        }
    },
    "sourceRoot": "/home/just/ils",
    "comments": false
 }
