@backgroundMeme: #ffffff;
@textColorMeme: #1A237E;
@morfAnimationDuration: 1s;
@atentionAnimationDuration: 0.5s;
@memeImageWidth: 50%;
@memeImageHeight: 40%;
@memeFontSize: 20px;
@memeBackgroundColor: #CFD8DC;
@memeTextColor: #546E7A;

.memeContainer{
  width: @memeImageWidth;
  height: @memeImageHeight;
}


.meme{
  font-size: @memeFontSize;
  background-color: @memeBackgroundColor;
  color: @memeTextColor;
}

.paddingLR{
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.isHidden{
  visibility: hidden;
}

.isVisible{
  visibility: visible;
}

.watchMe {
  animation-duration: @atentionAnimationDuration;
  animation-name: slidein;
  animation-iteration-count: 1;
}

.transitionElement {
  animation: pulse 5s 1;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}

.transitionElementSecond {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}


/* usage: .transform-translate(100px, 100px); */

.transform-translate(@x:50px, @y:50px) {
	-webkit-transform: translate(@x, @y);
	-o-transform: translate(@x, @y);
	-ms-transform: translate(@x, @y);
	transform: translate(@x, @y);
}
